<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="mysqlConfig" type="JBuy.Data.Configuration.DataSection, JBuy.Data" />-->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="jbuy" connectionString="server=127.0.0.1;&#xD;&#xA;      port=3307;database=jbuy;uid=root;password=123456;persistsecurityinfo=True;Charset=utf8;"
      providerName="MySql.Data.MySqlClient" />
    <add name="worldContext" connectionString="server=127.0.0.1;user id=root;password=123456;persistsecurityinfo=True;port=3307;database=world"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <!--<mysqlConfig>
    <providers>
      <add name="jbuy" type="JBuy.Data.MySqlProvider, JBuy.Data">
        <connectionString value="Data Source=127.0.0.1;Port=3307;Database=jbuy;User ID=root;Password=123456;Charset=utf8;" />
      </add>
      <add name="coin" type="JBuy.Data.MySqlProvider, JBuy.Data">
        <connectionString value="Data Source=127.0.0.1;Port=3307;Database=coin;User ID=root;Password=123456;Charset=utf8;" />
      </add>
      <add name="user" type="JBuy.Data.MySqlProvider, JBuy.Data">
        <connectionString value="Data Source=127.0.0.1;Port=3307;Database=user;User ID=root;Password=123456;Charset=utf8;" />
      </add>
    </providers>
  </mysqlConfig>-->
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, &#xD;&#xA;        MySql.Data.Entity.EF6"
                               />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, &#xD;&#xA;        EntityFramework.SqlServer"
                                   />
    </providers>
  </entityFramework>
</configuration>